.gridNews {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(auto-fit, minmax(240px, 1fr));
    justify-items: center;
    gap: 30px;
    width: 100%;
    max-width: 1400px;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .gridNews {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 1100px) {
    .gridNews {
        grid-template-columns: minmax(240px, 1fr);
    }
}