.wrapper {
    position: relative;
    
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

.wrapper__flexSpace {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 880px) {
    .wrapper__flexSpace {
        justify-content: center;
        flex-direction: column;
    }
}