<!DOCTYPE html>
<html lang="ru">
    <head>
        <link rel="stylesheet" href="../assets/css/index.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tripp 2</title>
    </head>

    <body>
        
        <main>
            <article class="page flexCenterStart">
                <article class="page__subtitle mg50Bottom">
                    Зимние Ленские Столбы
                </article>

                <a href="./index.html" class="filledBtn mg50Bottom" title="Go to home" data-text="Вернуться">Вернуться</a>

                <h2>Дорогие наши туристы, приглашаем Вас в однодневный тур на Ленские Столбы</h2>
                <article class="trippBlockText">
                    <h3>Программа тура:</h3>
                    <p>
                        08:00-08:30 выезд с города Якутска, всех туристов забираем с адреса
                    </p>
                    <p>
                        08:30-12:30 дорога до Ленских Столбов, с остановками для фотографирования на
еланкских пещерах, «Арке желаний»
 
                    </p>
                    <p>12:30-13:00 обед</p>
                    <p>13:00-16:30 восхождение на Ленские Столбы, прогулка, фотографирование
</p>
                    <p>16:30-20:30 обратная дорога до города Якутска, развоз по адресам</p>

                </article>

                <article class="trippBlockText">
                    <h3>Что нужно знать о туре: </h3>
                    <p>
                        Общая продолжительность тура около 12 ч, программа примерная, может отличаться по
времени

                    </p>
                    <p>
                        Цена тура - 2500₽, входит полный трансфер с адреса до адреса.

                    </p>
                    <p>
                        Питание/питье берёте с собой, и 300₽ на входной билет

                    </p>
                    <p>
                        Авто комфортные, водители надежные

                    </p>
                    <p>
                        Группы комфортные 6- 11 человек
   
                    </p>
                    <p>
                        Для групп, коллективов можем организовать отдельный транспорт, горячее питание в
виде шашлыка

   
                    </p>
                </article>

                <article class="trippBlockText">
                    <p>Скидки по коллективным заявкам</p>
                    
                </article>

                <article class="trippInfo">
                   
                    <p class="trippInfo__desc">
                        Готовы составить индивидуальные туры с посещением Ленских Столбов с ночёвкой.
<p>По желанию аренда гостевого домика - 5000₽ на Ленских Столбах</p> 
                    </p>
                </article>
            </article>
        </main>

    </body>
</html>