<!DOCTYPE html>
<html lang="ru">
    <head>
        <link rel="stylesheet" href="../assets/css/index.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tripp 7</title>
    </head>

    <body>
        
        <main>
            <article class="page flexCenterStart">
                <article class="page__subtitle mg50Bottom">
                    БУЛУУС - ТУРУК ХАЙА - БИЗОНАРИЙ «УСТЬ-БУОТАМА»
                </article>

                <a href="./index.html" class="filledBtn mg50Bottom" title="Go to home" data-text="Вернуться">Вернуться</a>

                <article class="trippBlockText">
                    <h3>Программа тура:</h3>
                    <p>
                        08:30-09:00ч выезд с города (собираем всех с адресов)
                    </p>
                    <p>
                        10:30 Сказочный зимний «Булуус»
                    </p>
                    <p>
                        Прогулка-фотографирование. Можете набрать чистейшей и
очень полезной воды из источника
                    </p>
                    <p>12:00 «Турук Хайа». Если летний вариант просто захватывает дух, представьте как там красиво
зимой! Просто вау! Также прогулка и фотографирование, можете взять атрибуты для фотосета</p>
                    <p>13:00 Бизонарий. Время обеда в атмосферном якутском Балагане. Еду берём с собой. После
сытного обеда едем на экскурсию</p>
                    <p>Экскурсия в Бизонарий. Вместе с гидом проведём отлично
время, смотря на бизонов и слушая интересный рассказ про их жизнь</p>
                    <p>16:00-17:00 ч отъезд, развоз туристов по адресам
</p>

                </article>

                <article class="trippBlockText">
                    <h3>Что нужно знать о туре:</h3>
                    <p>
                        Цена тура - 2500₽ взрослый, детям до 12 лет - 2000₽
                    </p>
                    <p>
                        Что входит в цену тура: проезд туда и
обратно с адреса до адреса, билет в Бизонарий (экскурсия), аренда тёплого балагана, ну и
прогулка на свежем воздухе, отличные кадры в копилку вашей «галереи»
                    </p>  
                    </p>
                </article>

                <article class="trippBlockText">
                    <p>Что с собой взять:</p>
                    <p>
                        Cамое главное - отличное настроение, ну правда, ребята!
                    </p>
                    <p>
                      Cухой паёк, горячий чай, бутыль для набора воды
                    </p>
                    <p>Одежда по погоде.</p>
                    <p>Принимаем коллективные заявки, есть большие автобусы.</p>
                </article>

                <article class="trippInfo">
                    <h2>СКИДКА  </h2>
                    <p class="trippInfo__desc">
                        
                    </p>
                </article>
            </article>
        </main>

    </body>
</html>