<!DOCTYPE html>
<html lang="ru">
    <head>
        <link rel="stylesheet" href="../assets/css/index.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tripp 6</title>
    </head>

    <body>
        
        <main>
            <article class="page flexCenterStart">
                <article class="page__subtitle mg50Bottom">
                    Сплав по р. Буотама
                </article>

                <a href="./index.html" class="filledBtn mg50Bottom" title="Go to home" data-text="Вернуться">Вернуться</a>

                <h2>Приглашаем на сплав по речке Буотама на 3 дня 2 ночи </h2>
                
                <article class="trippBlockText">
                    <h3>Программа сплава по речке Буотама </h3>
                    <p>День 1.</p>
                    <p>
                        16:00 Сбор группы на парковке Муус Хайа. Выезд. Трансфер до кафе Легион. 
                    </p>
                    <p>
                        Пеший переход до реки Буотама. 
 
                    </p>
                    <p>Инструктаж по технике безопасности, сбор лодок, байдарок, начало сплава.
</p>
<p>Сплав 2-3км, ужин, установка палаток, рыбалка. Отдых.</p>
                </article>

                <article class="trippBlockText">
                    <p>День 2. </p>
                    <p>
                        Ранний подъем, завтрак.
                    </p>
                    <p>
                        Сплав на лодках, байдарках, рыбалка, купание. 
                    </p>
                    <p>
                        Остановка на обед в
живописных местах.
                    </p>
                    <p>
                         Остановка на ночлег в удобном для размещения месте, ужин, ночевка в
палаточном лагере.

                    </p>
                    
                </article>

                <article class="trippBlockText">
                    <p>День 3. </p>
                    <p>
                        Ранний подъем, завтрак.
                    </p>
                    <p>
                        Сплав на лодках, байдарках прибываем на устье реки, обед.
                    </p>
                    <p>
                        17:00 переправа на моторных лодках до с. Булгунняхтаах
                    </p>
                    <p>Трансфер до Якутска</p>
                </article>

                <article class="trippBlockText">
                    <p>В стоимость входит:</p>
                    <p> трансферы, услуги инструктора, входные билеты, полевая кухня (рис,
гречка, макароны, специи для ухи и для супа, тушёнка), кемпинговое оборудование, сплав
средства (лодки, байдарки, спас жилеты, весла)
</p>
<p>Группа укомплектовывается всем необходимым походным снаряжением. (Палатка, спас жилет,
костровое снаряжение)</p>
</article>
<article class="trippBlockText">
                    <p>В стоимость не входит:</p>
                    <p>  спальные мешки, индивидуальное питание (шоколад, соки итд)
Рыбаловные снасти. Питание в придорожных кафе во время трансфера до точки начала похода
и обратно кроме питания в походных условиях во время трансферов,
Услуги повара (готовка походных блюд осуществляется самими туристами — инструктор всегда
рядом)
</p>

</article>
<article class="trippBlockText">
                    <p>Цена сплава 6.500₽ с чел
</p>


</article>
                <h3>Программа примерная, может отличаться по времени</h3>
                <article class="trippBlockText">
                    <p>Что нужно с собой взять на сплав:</p>
                    <p> Одежду для сплава (желательно быстро сохнущая): головной убор, штаны, футболка/куртка,
перчатки, резиновые тапочки
</p>
<p>одежда для берега: тёплые вещи на вечер, носки, белье, футболки по 2 пары, кроссовки, по
желанию резиновые сапоги, дождевик
</p>
<p>спальный мешок, лежак</p>
<p>рыболовное снаряжение</p>
<p>фонарик</p>
<p>личная походная посуда</p>
<p>предметы личной гигиены</p>
<p>личная аптечка при необходимости</p>
<p>комаринку</p>
<p>портативный зарядник</p>
<p>еда/питье дополнительно к полевой кухне</p>
                
            </article>
        </main>

    </body>
</html>