<!DOCTYPE html>
<html lang="ru">
    <head>
        <link rel="stylesheet" href="../assets/css/index.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tripp 5</title>
    </head>

    <body>
        
        <main>
            <article class="page flexCenterStart">
                <article class="page__subtitle mg50Bottom">
                    Рыбалка на р. Буотама
                </article>

                <a href="./index.html" class="filledBtn mg50Bottom" title="Go to home" data-text="Вернуться">Вернуться</a>

                <h2>Приглашаем вас на рыбалку в Буотама с ночёвкой и с восхождением на гору «Куех хайа» </h2>
                <h2>на 2 дня на выходные дни.</h2>
                <h2>Окунёмся в осеннюю романтику!</h2>
                <h3>Выезды каждые выходные дни в августе и сентябре. Возможен выезд в будние дни от 6
человек. Принимаем заявки:</h3>

                <article class="trippBlockText">
                    <p>День 1. Суббота</p>
                    <p>
                        Сбор в 9 ч на парковке ресторана «Муус Хайа». Отъезд.
                    </p>
                    <p>
                        В 10.30 переправа через верхний Бестях. Трансфер до села Качикатцы. В Качикатцах туристов
встречает гид, пересаживаетесь на уазик и едем 25-30км.
 
                    </p>
                    <p>В 13.00ч доезжаете до речки Буотама, разбивка лагеря, обед. Располагаетесь в охотничьей
избушке с печкой, вместимость около 20 человек. Есть кровати-нары.</p>
                    <p>С 15.00 ч до вечера рыбалка, отдых, свободное время.</p>
                    <p>Ужин.</p>
                </article>

                <article class="trippBlockText">
                    <p>День 2. Воскресенье
</p>
                    <p>
                        Подъем рано утром. Рыбалка
                    </p>
                    <p>
                        Обед. 
                    </p>
                    <p>
                        Восхождение на гору «Куех хайа». Фотографирование. Прогулка.
                    </p>
                    <p>
                        С 16.00 отъезд в Якутск. 
                    </p>
                    <p>
                       В 20.00 ч прибытие в Якутск.  
                    </p>
                    <p>Машина довозит до парковки ресторана «Муус Хайа».</p>
                </article>
                    <h2>ПРОГРАММА примерная, может ОТЛИЧАТЬСЯ ПО ВРЕМЕНИ!</h2>
                <article class="trippBlockText">
                    <p>Что с собой надо взять:</p>
                    <p>
                        Рыболовные снасти, спальный мешок, коврик для кровати, резиновые
сапоги, личная гигиена и посуда, тёплые вещи (куртка, брюки, шапка), питание дополнительно
к костровой еде
                    </p>
                    <p>
                        Отдых у нас семейный, поэтому распитие алкогольных напитков запрещён. Ездят туристы с
детьми.
                    </p>
                    <p>Группа компактная, около 10-12 человек.</p>
                    <p>Стоимость тура - 5800₽/1чел, детский билет обговаривается индивидуально. </p>

                </article>
                <article class="trippBlockText">
                    <p>Что входит в стоимость тура:</p>
                    <p> полный трансфер во время тура, кемпинговое оборудование, питание на
костре на 2 дня, услуги гида-проводника, отличный активный отдых на природе и море
впечатлений в копилку воспоминаний по умолчанию.
</p>
</article>

                    <article class="trippBlockText">
                    <p>Что НЕ входит в стоимость тура:</p>
                    <p> питание в придорожных кафе во время трансфера, услуги
повара, готовим еду по очереди.

</p>
</article>


                <article class="trippBlockText">
                    <p>Бронирование мест строго по предоплате 50% от стоимости</p>
<p>Возможный улов: щука, окунь, ленок</p>
                    
                </article>

               
            </article>
        </main>

    </body>
</html>