<!DOCTYPE html>
<html lang="ru">
    <head>
        <link rel="stylesheet" href="../assets/css/index.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tripp 9</title>
    </head>

    <body>
        
        <main>
            <article class="page flexCenterStart">
                <article class="page__subtitle mg50Bottom">
                    Еланка – р. Б. Кэтэмэ
                </article>

                <a href="./index.html" class="filledBtn mg50Bottom" title="Go to home" data-text="Вернуться">Вернуться</a>

                <h2>Фототур по красивейшим местам с купалкой на реке Лена и Кэтэмэ (Хангаласский улус)</h2>
                <article class="trippBlockText">
                    <h3>Примерная программа тура: </h3>
                    <p>Cбор с адресов с 8ч до 8.30</p>
                    <p>
                        Посещение реки Куллаты (фотографирование на мостике) на границе Хангаласского улуса 
                    </p>
                    <p>Еланка: Кыччыгый Аан (обед, купалка, фотографирование)</p>
                    <p>ТиитАрыы - смотровая, посещение реки Большая Кэтэмэ (фотографирование, купалка)</p>
                </article>

                <article class="trippBlockText">
                    <p>C собой нужно взять:</p>
                    <p>
                        Питание/питье, купальники, лежаки
                    </p>
                    </article>

                <article class="trippBlockText">
                    <p>Полный трансфер с адреса до адреса - 3000₽</p>
                    <p>
                        Продолжительность тура около 12 ч, вечером возвращаемся домой к 20 ч примерно, всех
развозим по адресам

                    </p>
                    <p>
                       В одну сторону 180км с остановками
                    </p>
                    <p>Комфортабельные авто с кондиционером</p>
                </article>

            </article>
        </main>

    </body>
</html>