<!DOCTYPE html>
<html lang="ru">
    <head>
        <link rel="stylesheet" href="../assets/css/index.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tripp 8</title>
    </head>

    <body>
        
        <main>
            <article class="page flexCenterStart">
                <article class="page__subtitle mg50Bottom">
                    Песчаные дюны «Тукулан» - бизонарий «Усть-Буотама»
                </article>

                <a href="./index.html" class="filledBtn mg50Bottom" title="Go to home" data-text="Вернуться">Вернуться</a>

                <article class="trippBlockText">
                    <h3>Программа 1 дневного тура песчаные дюны Тукулаан с посещением Бизонария «Усть-Буотама» </h3>
                    <p>
                        С 7.30 до 8.00 выезд, сбор с адресов
                    </p>
                    <p>
                       C 8.00 до 10.30 - дорога на машине до села Булгунняхтаах Хангаласского улуса 
                    </p>
                    <p>С 10.30 до 11.00 - с берега на моторной лодке плывем до бизонария «Усть-Буотама»</p>
                    <p>С 11.00 до 13.00 - экскурсия с гидом по бизонарию, прогулка по питомнику</p>
                    <p>С 13.00 до 14.00 - свободное время для обеда</p>
                    <p>С 14.00 до 14.30 - с бизонария плывем на моторной лодке до песчанах дюн Тукулаан «Кыьыл
Элэьин»</p>
                    <p>С 14.30 до 17.30 свободное время для фотографирования, купания</p>
                    <p>С 17.30 до 18.00 на моторной лодке плывем до берега с. Булгунняхтаах</p>
                    <p>С 18.00 до 20.00 дорога домой, развозим по адресам</p>
                </article>
                    <h3>Программа может отличаться по времени.
</h3>
                <article class="trippBlockText">
                    <p>Tур стоит - 4000₽/1чел.</p> 
                    <p>Bходит полный трансфер с адреса до адреса на авто и моторной лодке,
экскурсия в бизонарии</p>
                    
                </article>

                
            </article>
        </main>

    </body>
</html>