<!DOCTYPE html>
<html lang="ru">
    <head>
        <link rel="stylesheet" href="../assets/css/index.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tripp 3</title>
    </head>

    <body>
        
        <main>
            <article class="page flexCenterStart">
                <article class="page__subtitle mg50Bottom">
                    Зимняя подледная рыбалка
                </article>

                <a href="./index.html" class="filledBtn mg50Bottom" title="Go to home" data-text="Вернуться">Вернуться</a>

                <h2>Друзья, приглашаем Вас на однодневную подледную рыбалку в теплой уютной палатке</h2>
                <article class="trippBlockText">
                    <h3>Программа тура</h3>
                    <p>
                        Сбор в 07:30 на парковке «МУУС ХАЙА» выезд

                    </p>
                    <p>
                        09:00 приезд на место рыбалки 
                    </p>
                    <p>
                        10:00-12:00 рыбалка 
                    </p>
                    <p>
                        12:00-13:00 обед 
                    </p>
                    <p>
                        13:00-17:00 рыбалка 
                    </p>
                    <p>
                        17:00 отъезд в Якутск 
                    </p>

                   <p>Рыбалка проходит в местности «Чайка» в Хангаласском районе (80 км от города Якутск).</p> 
                </article>

                <article class="trippBlockText">
                    <p>В стоимость входит:
</p>
                    <p>Трансфер.
</p>
                    <p>Зимняя палатка PolarBird 4T.</p>
                    <p>Печь дровяная.</p>
                    <p>Подводная камера Calypso.</p>
                    <p>Снасти, прикормка, наживка.
</p>
                    <p>Ледобур, чайник, газовая плита, сковородка.</p>
                    <p>Услуги инстуктора-рыбака.
</p>
                    
   
                </article>

                <article class="trippBlockText">
                    <p>В стоимость не входит:</p>
                    <p>
                        Питание.
                    </p>
                    <p>
                        Услуги повара.
                    </p>
                    <p>
                        Стульчик.
                    </p>
                    <p>
                        Питание берете с собой.
                    </p>
                </article>

                <article class="trippBlockText">
                    <p>Экипировка (что с собой брать):</p>
                    <p>
                        одежда должна быть легкой дышащей

                    </p>
                    <p>
                        сапоги
                    </p>
                    <p>
                        перчатки
                    </p>
                    <p>
                        полотенце
                    </p>
                    <p>
                        поджопник, стульчик
                    </p>
                </article>

                <article class="trippInfo">
                    <h3>Стоимость тура 3000руб</h3>
                </article>
            </article>
        </main>

    </body>
</html>