<!DOCTYPE html>
<html lang="ru">
    <head>
        <link rel="stylesheet" href="../assets/css/index.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tripp 4</title>
    </head>

    <body>
        
        <main>
            <article class="page flexCenterStart">
                <article class="page__subtitle mg50Bottom">
   Наскальные рисунки и удивительные пещеры Хангаласского улуса
                </article>

                <a href="./index.html" class="filledBtn mg50Bottom" title="Go to home" data-text="Вернуться">Вернуться</a>

                <h2> Ребята, всем привет</h2>
                <h2>Предлагаем вашему вниманию новый, очень интересный маршрут!</h2>
                <article class="trippBlockText">
                    <h3>Программа тура:</h3>
                    <p>
                        07:30 сбор туристов с адресов
                    </p>
                    <p>
                        08:00 ч выезд с города Якутска
 
                    </p>
                    <p>
                        08:00 – 12:00 ч занимает дорога с остановками до с. Тиит-Арыы

 
                    </p>
                    <p>
                        12:00 – 14:00 ч экскурсия по пещерам, пеший поход около 3 км

                    </p>
                    <p>
                        14:00 – 15:00 дорога до местности Суруктаах Аартык с. Булгунняхтаах
 
                    </p>
                    <p>
            
                    15:00 – 17:00 экскурсия по древним наскальным рисункам
 
                    </p>
                    <p>
            
                    17:00 – 20:00 ч дорога домой, развоз туристов по адресам

 
                    </p>

                </article>

                <article class="trippBlockText">
                    <h3>Что нужно знать о маршруте:</h3>
                    <p>
                        Даты выездов: каждые выходные дни, в будние дни по запросу туристов

                    </p>
                    <p>
                        Тур на одногочеловека стоит - 3500₽.
                    </p>
                    <p>
                        В стоимость входит полный трансфер с адреса до адреса, услуги экскурсовода.

                    </p>
                    <p>
                        210 км едем на машине в одну сторону, пеший поход около 3 км, по дороге будут остановки

                    </p>
                    <p>
                        Для фотографирования, 
питание/питье берёте с собой  
                    </p>
                    <p>
                       Программа тура может отличаться по времени

                    </p>
                    <p>
                       Cобираем компактные группы 4-7 человек, для коллективных выездов можем предоставить

                    </p>
                    <p>
                        Большие микроавтобусы

                    </p>

                    <p>
                        Всегда комфортные авто и надёжные водители

                    </p>
                    <p>
                        Одежда должна быть по погоде, походная

                    </p>

                </article>

                
            </article>
        </main>

    </body>
</html>