<!DOCTYPE html>
<html lang="ru">
    <head>
        <link rel="stylesheet" href="../assets/css/index.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tripp 1</title>
    </head>

    <body>
        
        <main>
            <article class="page flexCenterStart">
                <article class="page__subtitle mg50Bottom">
                    Термальный источник «Нахот» - Горнолыжная база «Горизонт»
                </article>

                <a href="./index.html" class="filledBtn mg50Bottom" title="Go to home" data-text="Вернуться">Вернуться</a>

                <article class="trippBlockText">
                    <p>День 1. (Пятница)</p>
                    <p>
                        19:00 - 20:00 - выезд с города Якутска в г. Нерюнгри, всех туристов забираем с адреса
                    </p>
                    <p>
                        20:00 - 08:00 - дорога до базы отдыха «Нахот», остановки в придорожном кафе 
                    </p>
                </article>

                <article class="trippBlockText">
                    <p>День 2. (Суббота)</p>
                    <p>
                        09:00 - 12:00 - отдых в базе «Нахот», обед
                    </p>
                    <p>
                        12:00 - 12:30 - дорога до города Нерюнгри (55км) 
                    </p>
                    <p>
                        12:30 - 15:30 - отдых в горнолыжной базе «Горизонт»
                    </p>
                    <p>
                        15:30 - 16:30 - экскурсия по городу Нерюнгри 
                    </p>
                    <p>
                        16:30 - размещение на ночлег, свободное время   
                    </p>
                </article>

                <article class="trippBlockText">
                    <p>День 3. (Воскресенье)</p>
                    <p>
                        08:00 - 08:30 - отъезд с города Нерюнгри
                    </p>
                    <p>
                        08:30 - 19:00 - приезд в город Якутск, развоз по адресам туристов
                    </p>
                </article>

                <article class="trippInfo">
                    <h2>Что нужно знать о туре: </h2>
                    <p class="trippInfo__desc">
                        Цена тура - 9000₽ на 1 человека, входит полный трансфер по маршруту:
                        Якутск-НахотНерюнгри-Якутск, оплата за вход в тур базу «Нахот», 
                        Аренда домика в базе отдыха, аренда квартиры в г. Нерюнгри.
                        В цену тура не входит: питание, аренда снаряжения в горнолыжной базе, аренда бани в
                        тур базе
                        Даты - отъезд каждую неделю по пятницам и приезд в воскресенье. Коллективные
                        выезды от 6 человек организуем в любой удобный для вас день
                        дорога с г. Якутска до «Нахот» занимает около 12 ч
                        С собой нужно взять питание, купальник, личную гигиену, тёплые тапочки, банный халат
                        всегда комфортные авто и надёжные, опытные водители. Группы компактные - 6-11 человек
                        Скидки коллективным заявкам от 6 человек 
                    </p>
                </article>
            </article>
        </main>

    </body>
</html>